{% extends 'mining/main.html'%}
{% load static %}


{% block content %}
<div class="container-fluid mb-5">
    <div class="about">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{%static 'images/about.jpg'%}" class="d-block w-100" alt="...">
              </div>
            </div>
           
          </div>
       
    </div>
</div>
    <div class="container my-5">
        <div class="investment py-5 ">
            <h3>Climax Trade Investment</h3>
            <p>
                Climax Trade Investment is a registered digital asset investment firm. The platform, 
                which includes advanced basic and technical analysis at the source of high return performance, 
                offers high & fixed interest return. Aiming for success with its international investor network, 
                experienced team, privileged information from business and technology world; 
                Climax Trade Investment stands out from its competitors with its proven quality and ease of use. 
                The company, which is managed under the leadership of people who think and anticipate the future, 
                is committed to achieving high returns from well-diversified portfolios and prioritizing clients.
                Climax Trade Investment is duely registered with the registration number 12378300.
            </p>
        </div>

        <div class="vision my-5">
            <h2>OUR VISION:</h2>
            <p>We are a mining and investment management company aimed at providing clients the best possible services in todays markets.</p>
        </div>

        <div class="mission my-5">
            <h2>OUR MISSION:</h2>
            <p>
                As a leading global market maker, 
                Climax Trade Investment is committed to creating the most user-friendly investment experience for all our clients while achieving maximum profitability. We strive to bring the most advanced technology and develop new tools to allow miners to mine with confidence and success. 
                In addition to our tools, we also ensure that our customer service is of the highest level. 
                Whatever request that you as an investor may make, 
                we will make every effort to ensure that it will be handled in a timely and professional manner.
            </p>
        </div>

        <div class="service my-5">
            <h2>OUR SERVICES:</h2>
            <p>
                Climax Trade Investment is a leading investment provider to financial market professionals.
                 Our technical strategies cover equity, cryptocurrency, forex, commodities and fixed-income markets.
                 Our market depth and knowledge are attributed to our acquired experience on trading floors of many banking institutions.
            </p>
        </div>



    </div>


{% endblock %}