{% extends 'mining/main.html'%}
{% load static %}


{% block content %}
    <div class="container my-5">
        <div class="diversity my-5">
            <h1>Diversity</h1>
            <p>Individuals. Ideas. Inspiration. Yes, we're open</p>
            <p>
                Diversity and inclusion matter in our business. 
                An inclusive and diverse workforce makes us better leaders and contributes to a more innovative, 
                dynamic and, ultimately, more successful company. 
                And, variety helps us meet the needs of our diverse client base.
            </p>
        </div>

        <div class="Inclusiveness my-5">
            <h1>Inclusiveness</h1>
            <p>
                We promote inclusion and encourage open dialogue to draw out everyone's opinions and perspectives. We recognize a diverse range of contributions to keep our people energetic, engaged and inspired. 
                And we are a signatory to the UN Standards of Conduct for Business regarding tackling LGBTI discrimination around the world.
            </p>
        </div>

        <div class="Flexibility my-5">
            <h1>Flexibility</h1>
            <p>
                We offer a modern, flexible working environment. 
                We work where and how it's most appropriate according to individual, role and team requirements.
            </p>
        </div>



    </div>


{% endblock %}