{% load static %}
<div class="footer">
    <div class="container text-center">
        <div class="footer-image">
            <img src="" alt="">

        </div>

        <p class="text-wrap text-mute">
            Climax Trade Investment platform is at your service with its user-friendly <br> features, 
            secure infrastructure and applications that make a difference.
        </p>
        <div class=" social">
            <ul>
                <li>
                    <a href="">
                        <img src="{% static 'images/Facebook_f_logo_(2021).svg.png'%}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/Logo_of_Twitter.svg.png'%}" alt="">
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="{% static 'images/whatsapp.png'%}" alt="">
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="{% static 'images/Instagram_logo_2022.svg.png'%}" alt="">
                    </a>
                </li>

            </ul>
            

            

            

            
        </div>    
        

        <div class="right">
            <a class="fw-2" href="">© {% now "Y" %}Copyright: All Right Reserved</a>
            <p>Climax Trade Investment Inc - The easiest place to mine bitcoin..</p>
        </div>

        
    </div>
    <div class="icon fixed-bottom">
        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
    </div>

</div>