{% load static %}
<div class="footer">
    <div class="container text-center">
        <div class="footer-image">
            <img src="" alt="">

        </div>

        <p class="text-wrap text-mute">
            Climax Trade Investment platform is at your service with its user-friendly <br> features, 
            secure infrastructure and applications that make a difference.
        </p>
        <div class=" social">
            <ul class="list-unstyled social-icons">
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-f fa-1x mx-1"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-twitter fa-1x mx-1"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-whatsapp fa-1x mx-1"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram fa-1x mx-1"></i>
                    </a>
                </li>
            </ul>
            
            

            

            

            
        </div>    
        

        <div class="right">
            <a class="fw-2" href="">© {% now "Y" %}Copyright: All Right Reserved</a>
            <p>Climax Trade Investment Inc - The easiest place to mine bitcoin..</p>
        </div>

        
    </div>
    <div class="icon fixed-bottom">
        <i class="fa fa-arrow-circle-up fa-4x px-3 py-3" aria-hidden="true" id="scroll-to-top">
            <a href="#"></a>
        </i>
    </div>

</div>

<script>
    document.getElementById("scroll-to-top").addEventListener("click", function() {
        // Scroll to the top of the page with a smooth animation
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    });
</script>