<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about'%}">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Testimonies</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">FAQS</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Legal
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'diversity'%}">Diversity</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'sponsoring'%}">Sponsoring</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'terms'%}">Terms & Conditions</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'privacy'%}">Privacy policy</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard'%}">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact'%}">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile'%}">profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'login'%}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'register'%}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'logout'%}">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
