{% extends 'mining/main.html'%}
{% load static %}


{% block content %}
    <div class="container my-5">
        
        <div class="space">
            
        </div>

        <div class="sponsoring my-5" >

            <h1>The big picture</h1>
            <p>
                We’re passionate about supporting the places where we live and work. 
                Through our long-standing sponsorships of motor sports and contemporary art, 
                we connect with communities in new and exciting ways every day.
                It’s our way of understanding how the world works, one pit stop and brush stroke at a time.
            </p>
        </div>

        



    </div>


{% endblock %}