{% extends 'mining/main.html'%}
{% load static %}


{% block content %}
    <div class="container my-5">
        <div class="space">
            
        </div>
        <div class="investment my-5">
            <h3>Climax Trade Investment</h3>
            <br>
            <h4>Please read the following rules carefully before signing in.</h4>
            <br>
            <h4>climaxtradeinvestment.com Rules of website use and use of our services and infomation (the "Rules")</h4>
            <p>
                This page (together with the documents which may refer to on it) tells you the terms on which you may:
            </p>
            <br>

            <ul>
                <li>use the climaxtradeinvestment.com website at climaxtradeinvestment.com (the "WebSite");</li>
                <li>register as a customer of theWebSite;</li>
                <li>participate in our investment solutions and our referral program (as defined below) on the WebSite; and make use of all available to it content of WebSite.</li>

            </ul>
            <br>
            <p>
                Please read these Rules carefully before you start to use the climaxtradeinvestment.com ("WebSite"), 
                use all or some materials or content, and/or before starting the cooperation with climaxtradeinvestment.com ("Company") via the WebSite. 
                You should understand that by registering and using our WebSite, 
                using all or some materials or content you signify your acceptance of this Rules and that you agree to be bound by them. 
                If you do not agree to these Rules, please refrain from using or visiting the WebSite.

            </p>
            <br>
            <p>The Site is owned and operated by climaxtradeinvestment.com ("climaxtradeinvestment.com", "Climax Trade Investment", "CTI", "Company", "We" or "Us")</p>
        </div>

        <div class=" my-5">
            <h2>
                The registration on the WebSite.
                <br>
                Account creating prohibitions
            </h2>
                <p>
                Access to certain areas of the WebSite will be restricted to registered members only.
                <br>
                </p>
                If you do accept our Rules, We will provide you the personal climaxtradeinvestment.com account which you will use (by your UserName and Password) to access certain parts of the WebSite. 
                You must treat this information as confidential and you must not disclose it to any third party.
                <br>
                <p>
                You confirm that all the details supplied by you when you register are accurate and complete. 
                You agree to notify the climaxtradeinvestment.com support (support@climaxtradeinvestment.com) promptly of any changes. 
                Should you make any significant change to your details, 
                you must notify Us not less than ten (10) days before the change takes effect.
                </p>
                <br>
                <p>
                We reserve the right to disable any Customer climaxtradeinvestment.com account, whether chosen by you or allocated by Us at any time, 
                if in our opinion you have failed to comply with any of the provisions of these Rules.
                </p>
                <br>
                <p>
                In order to operate your account you will have created a Password by your self. 
                You are responsible for the security and proper use of your Password and your climaxtradeinvestment.com account, 
                including all charges incurred through them. You must inform the climaxtradeinvestment.com support (support@climaxtradeinvestment.com) 
                immediately if you have any reason to believe that your Password have become known to someone not authorized to use them.
                 If We reasonably believe that there is likely to be a breach of security or misuse of the service or your account, 
                We may change your password immediately and will notify you accordingly.
                </p>

                <p>You must be prepared to give us your "secret question" and "secret answer" for verification purposes in this case.</p>
                <br>
                <p>The registration on the WebSite consists of:</p>
                <br>
                <ul>
                    <li>acceptance of this Rules;</li>
                    <li>providing of your non-personally-identifying and personal information;</li>
                    <li>confirm of your registration. from this point all content that is available for you as a our customer ("Customer", "You") on an open access basis, with the exception of your climaxtradeinvestment.com account.</li>
                </ul>
                <p>You can not create the climaxtradeinvestment.com account if you a minor under the laws of their country.</p>
                <br>
                <p>If you register on the WebSite, this allows you:</p>
                <br>
                <ul>
                    <li>to make any investment actions;</li>
                    <li>to get the raferral rewards;</li>
                    <li> to personalise the service we provide to you in relation to our investment solutions.</li>
                    <p>Registration is required in order to access your climaxtradeinvestment.com account.</p>

                </ul>
                <br>

                <h2>Accessing and Usage the WebSite and Services</h2>
                <p>
                    Use of the WebSite is restricted to those aged 18 or over only. 
                    Anyone under the age of 18 may only use the WebSite if accompanied by an adult.
                </p>
                <br>
                <p>
                    Whilst We endeavor to ensure that the WebSite is normally available 24 hours a day,
                     access to the WebSite is provided on a temporary basis, and Company reserve the right to withdraw or amend the services We provide on the WebSite without notice. 
                     We will not be liable if for any reason the Site is unavailable at any time or for any period.
                </p>
                <br>
                <p>
                    We aim to update our WebSite regularly, and may from time to time change the our services and/or our investment solutions as well as the Rules, referral program and other pages of WebSite.
                    If the need arises, We may suspend access to the WebSite, or close it indefinitely in order to improve or update its features and productivity.
                </p>
                <br>
                <p>
                    You are responsible for making all arrangements necessary for you to have access to the WebSite and the Services, including the investment, financial and funds withdrawals actions.
                     You are also responsible for ensuring that all persons who access the Site through your Internet connection are aware of these Rules and that they comply with them and you also understand that You and not Us are responsible for all electronic communications 
                     and content sent or receives from your computer to Us or from Us to You.
                </p>
                <br>
                <p>You can create only one climaxtradeinvestment.com account.</p>
                <br>
                <p>
                    We keep the right can very easily and pinpoint who is causing us of such kind problems, making the multiple registrations. 
                    We will checking your IP-address, your PC's ID and other identificators. And in case, 
                    if we will discover the customer's multiple registrations, 
                    we shall block all accounts of such customer and all money which can be at all of such accounts are will be taken away irrevocably.
                </p>
                <br>

                <h2>Viruses hacking and other offenses</h2>
                <br>
                <p>
                    You must not misuse the WebSite by knowingly introducing viruses, Trojans, worms, 
                    logic bombs, or other material which is malicious or technologically harmful. 
                    You must not attempt to gain unauthorized access to the WebSite or any part of it, 
                    the server on which the WebSite is stored, or any server, computer, or database connected to the WebSite. 
                    You must not attack the WebSite via a denial-of-service attack or a distributed denial-of-service-attack (DDoS).
                </p>
                <br>
                <p>
                    By breaching this provision, you would commit a criminal offence under the Computer Misuse Act #1990. 
                    We will report any such breach to the relevant law enforcement authorities and We will co-operate with those authorities by disclosing your identity to them. 
                    In the event of such a breach, your right to use the WebSite and/or our Services will cease immediately.
                </p>
                <br>
                <p>
                    We will not be liable for any loss or damage caused by a distributed denial-of-service attack, 
                    viruses, or other technologically harmful material that may infect your computer equipment, 
                    computer programs, data, or other proprietary material due to your use of the WebSite or due to your downloading of any material posted on it, or any website linked to it.

                </p>
                <br>
                <h2>Linking Linking to the WebSite</h2>
                <p>
                    You may link to our home page using the sharing tools (the unique referral links, banners) 
                    provided by Us provided you do so for non-commercial (for inviting new participants) purposes and in a way that is fair and legal and does not damage our reputation or take advantage of it. 
                    You must not establish a link in such a way as to suggest any form of association, approval, or endorsement on our part where none exists or in a way that makes content available to a third party who would not otherwise have free access to it. 
                    Authors and co-authors of an article published by Us should refer to the Company's Administration for further information on linking to their own article.

                </p>
                <br>
                <h2>Our Liability</h2>
                <p>
                    The WebSite and the Services are provided on an "as is" basis. Subject to the below, Company excludes all liability whether in contract, 
                    tort (including liability for negligence), or otherwise for the suitability, 
                    accuracy, or fitness for any purpose of the WebSite and any Services and actions and limits its liability for any other liability under these Rules or any related agreement to the fees payable by you for the element of the WebSite or the Services found to be in breach of these Rules.

                </p>
                <br>
                <p>
                    Subject to the below We exclude all liability for loss of business revenue or profits, 
                    anticipated savings, or wasted expenditure, corruption, 
                    or destruction of data or for any indirect or consequential loss whatever.
                </p>
                <br>
                <p>
                    Save as expressly permitted in these Rules, all warranties, conditions, or other terms implied by statute, common law, or otherwise are excluded by Company to the fullest extent permitted by law.
                </p>
                <br>
                <p>
                    The Services may be out of date at any given time, and while We may from time to time update the Services We are under no obligation to do so.
                </p>


                <br>
                <h2>Payments and Withdrawals</h2>
                <p>
                    All financial transactions, including, but not limited to, all requests for payments are executed instantly. 
                    All payments are made only to that payment processor, which Customer at making deposit has used.
                </p>
                <br>
                <p>
                    All referral payments are made only to that payment processor, which Customer's referral at making deposit has used.
                </p>
                <br>
                <p> 
                    For deposits, which have been made by using the Bitcoin payment processor, all requests for withdrawal are performed if sum amount wich has been requested for withdrawal will be NOT LESS than $50. For deposits, which have been made by using the any another payment processor the minimal amount, which is available for withdrawal is $0.10.
                </p>
                <br>
                <p>
                    All referral payments are made only to that payment processor, which Customer's referral at making deposit has used.
                </p>



                <br>
                <h2>Confidentiality</h2>
                <p>
                    We strongly keep any Customer data in the confidentially conditions.
                    <br>
                
                    Our Privacy Policy, like and other Policies, is an integral part of these Rules.
                </p>


                <br>
                <h2>Conflicting terms</h2>
                <p>
                    In the event and to the extent of any conflict between the provisions of these Rules and any other agreement which can be referred to in these Rules, 
                    the provisions of the other agreement will apply.
                </p>


                <br>
                <h2>Content Standards</h2>
                <p>
                    These Content Standards apply to each a issue,
                    regarding to your investment activity and cooperation with Us whole.
                </p>
                <p>Please do not:</p>
                <ul>
                    <li>Spam by reposting the same message, or very similar messages, more than once;</li>
                    <li>Publicize or attempt to publicize anyone else's contact details or compromise anyone else's privacy in any way; and/or</li>
                    <li>Use any name other than your bona fide family name.</li>
                </ul>
                <br>
                <p>In addition, please do not submit issues which:</p>
                <ul>
                    <li>Include advertisements, promotions of products or services, or any third-party links;</li>
                    <li>Are in any language other than English; and/or</li>
                    <li>Are in full capital letters.</li>
                </ul>
                <br>

                <p>Furthermore an issue must:</p>
                <ul>
                    <li>Be accurate (where it states facts);</li>
                    <li>Be genuinely held (where it states opinions);</li>
                    <li>Comply with the law applicable in England and Wales and in any country from which it is posted; and/or</li>
                    <li>Be relevant.</li>
                </ul>


                <br>

                <p>An issue or any request to any Our feedback department must not:</p>
                <ul>
                    <li> Be defamatory of any person and/or otherwise be unlawful or fraudulent, or have any unlawful or fraudulent purpose or effect;</li>
                    <li>Be obscene, offensive, hateful, or inflammatory;</li>
                    <li>Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation, or age;</li>
                    <li>Disclose the name, address, telephone, mobile, or fax number, email address or any other personal data in respect of any individual;</li>
                    <li> Infringe any copyright, database right, or trade mark of any other person;</li>
                    <li>Breach any legal duty owed to a third party, such as a contractual duty or a duty of confidence;</li>
                    <li>Be in contempt of court;</li>
                    <li>Be likely to harass, upset, embarrass, alarm, or annoy any other person;</li>
                    <li>Impersonate any person, or misrepresent your identity or affiliation with any person;</li>
                    <li>Give the impression that the contribution emanates from Company if this is not the case;</li>
                    <li>Promote, incite any third party to commit, or assist any unlawful or criminal act;</li>
                    <li>Contain a statement which you know or believe, or have reasonable grounds for believing, that members of the public to whom the statement is, or is to be, published are likely to understand as a direct or indirect encouragement or other inducement to the commission, preparation, or instigation of acts of terrorism; and/or</li>
                    <li> Contain any advertising or promote any services or web links to other websites.</li>
                </ul>

                <br>
                <h2>Breach</h2>
                <h2>Breach of Content Standards</h2>
                <br>
                <p>
                    If, acting reasonably, We consider that a breach of the Content Standards has occurred, 
                    We may at our discretion take such action as We deem appropriate. Failure to comply with these terms constitutes a material breach of this Rules whole on which you are permitted to use the Public Areas, 
                    and may result to a fine.
                </p>

                <br>
                <h2>Written communications</h2>
                <p>
                    Applicable laws require that some of the information or communications We send to you should be in writing. 
                    When using the Site, you accept that communication with Us will be mainly electronic. 
                    We will contact you by email or provide you with information by posting notices on the WebSite.
                    You agree to this electronic means of communication and you acknowledge that all contracts, notices, information,
                    and other communications that We provide to you electronically comply with any legal requirement that such communications be in writing.
                    This communication does not affect your statutory rights.
                </p>
                <br>
                <p>
                    You agree to keep confidential all information concerning the business or affairs of Company. 
                    This does not apply to any disclosure required by a court or regulatory body of competent jurisdiction, 
                    trivial information, or information already publicly available or demonstrably in your possession at the time of disclosure (other than as a result of breach of any confidentiality obligation).
                </p>
                <br>
                <p>
                    All notices given by you to Us must be given to Company at support@climaxtradeinvestment.com. 
                    We may give notice to you at the email you provide to Us at registration. 
                    Notice will be deemed received and properly served immediately when posted on the WebSite, 
                    24 hours after an email is sent. In proving the service of any notice, 
                    it will be sufficient to prove such email was sent to the specified email address of the Customer addressee.
                </p>


                <br>
                <h2>Severability</h2>
                <p>
                    If any of these Rules are determined by any competent authority to be invalid,
                    unlawful, or unenforceable to any extent, such term,
                    condition, or provision will to that extent be severed from the remaining terms, 
                    conditions, and provisions which will continue to be valid to the fullest extent permitted by law.

                </p>

                <br>
                <h2>Entire agreement</h2>
                <p>
                    These Rules represent the entire agreement between us in relation to the subject matter of any contract and supersede any prior agreement, 
                    understanding, or arrangement between us, 
                    whether oral or in writing.
                </p>
                <br>
                <p>
                    We each acknowledge that, in entering into a contract, neither of us has relied on any representation, undertaking, 
                    or promise given by the other or implied from anything said or written in negotiations between us prior to such contract, 
                    except as expressly stated in these terms and conditions.
                </p>
                <br>
                <p>
                    Neither of us shall have any remedy in respect of any untrue statement made by the other, 
                    whether orally or in writing,
                    prior to the date of any contract (unless such untrue statement was made fraudulently) and the other party's only remedy shall be for breach of contract as provided in these Rules.
                </p>




                <br>
                <h2>Our right to vary these Rules</h2>
                <p>
                    We have the right to revise and amend these Rules or any clause contained within then from time to time to reflect changes in market conditions affecting our business, 
                    changes in technology, changes in payment methods, 
                    changes in relevant laws and regulatory requirements, 
                    and changes in our system's capabilities except that such revisions or amendments do not apply to any dispute between you and Us arising,
                     or arising out of events occurring, 
                    BEFORE the date of such revision or amendment.
                </p>
                <p> 
                    You will be subject to the Policies and Rules in force at the time that you cooperate with Us making deposit or obtaining the referral rewards, 
                    unless any change to those Policies or these Rules is required to be made by law or governmental authority.
                </p>


                <br>
                <h2>Law and jurisdiction</h2>
                <p>
                    You agree that the courts of England shall have exclusive jurisdiction to settle any disputes arising out of or in connection with these terms or their formation. 
                    For these purposes each party irrevocably submits to the jurisdiction of the courts of England.
                </p>






        </div>

        


    </div>


{% endblock %}